

     * {
         print-color-adjust: exact !important;
         color-adjust: exact !important;
         text-rendering: optimizeLegibility !important;
         -webkit-print-color-adjust: exact !important;
         -webkit-color-adjust: exact !important;
         -moz-print-color-adjust: exact !important;
         -moz-color-adjust: exact !important;
     }
@import url('http://fonts.cdnfonts.com/css/tahoma');

@page {
    margin: 0cm 0cm !important;
    font-family: 'Tahoma', sans-serif !important;
    size: 22cm 34cm portrait;
    
}

/** Defina ahora los márgenes reales de cada página en el PDF **/
body {
    margin-top: 3cm !important;
    margin-left: 1cm !important;
    margin-right: 1cm !important;
    margin-bottom: 3cm !important;
    font-family: 'Tahoma', sans-serif !important;
}

/** Definir las reglas del encabezado **/
#header {
    position: fixed !important;
    top: 0cm !important;
    left: 0cm !important;
    right: 0cm !important;
    height: 1cm !important;
    padding-top: 2cm !important;
    padding-left: 1cm !important;
    padding-right: 1cm !important;
}

/** Definir las reglas del pie de página **/
#footer {
    position: fixed !important;
    bottom: 0cm !important;
    left: 0cm !important;
    right: 0cm !important;
    height: 1cm !important;
    padding-bottom: 2cm !important;
    padding-left: 1cm !important;
    padding-right: 1cm !important;
}

#page {
    width: 100% !important;
}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    td {
        page-break-before: auto !important;
        page-break-after: auto !important;
        page-break-inside: auto !important;
    }
